apiVersion: v1
kind: ReplicationController
metadata:
  name: calico-policy-agent
  namespace: calico-system
  labels:
    version: v0.1.2
    projectcalico.org/app: "policy-agent"
spec:
  replicas: 1
  selector:
    version: v0.1.2
    projectcalico.org/app: "policy-agent"
  template:
    metadata:
      labels:
        version: v0.1.2
        projectcalico.org/app: "policy-agent"
    spec:
      containers:
        - name: policyagent
          image: calico/k8s-policy-agent:v0.1.2
          imagePullPolicy: Always
          env:
          - name: ETCD_ENDPOINTS
            value: "{% for host in groups['etcd'] %}http://{{ hostvars[host]['access_ip'] | default(hostvars[host]['ip'] | default(hostvars[host]['ansible_default_ipv4']['address'])) }}:2379{% if not loop.last %},{% endif %}{% endfor %}"
